form {
  display: flex;
  flex-direction: column;
}
.item {
  margin: 0.5rem 0;
}
.input {
  padding: 0.4rem;
  font-size: 1.2rem;
  border: 1px solid #ccc;
}
.btn {
  display: inline-block;
  padding: 0.6rem 1.3rem;
  outline: none;
  font-size: 1rem;
  border: none;
  transition: opacity 0.2s ease-in;
  cursor: pointer;
}
.btn-submit {
  background-color: #333;
  color: #fff;
}
.btn-submit:hover {
  opacity: 0.8;
}
.btn-clear {
  background-color: #f4f4f4;
  color: #333;
}
.btn-clear:hover {
  opacity: 0.8;
}
