.form {
  display: flex;
  flex-direction: column;
}
.item {
  margin: 0.5rem 0;
}
.input {
  padding: 0.4rem;
  font-size: 1.2rem;
  border: 1px solid var(--border);
}
.btnDark {
  background-color: var(--dark);
  color: var(--white);
}
.btnDark:hover {
  opacity: 0.8;
}
.btnLight {
  background-color: var(--white-100);
  color: var(--dark);
}
.btnLight:hover {
  opacity: 0.8;
}
