.card {
  padding: 1rem;
  border: 1px dotted var(--border);
  margin: 0.7rem 0;
  text-align: center;
}
.rounded {
  border-radius: 50%;
  width: 60%;
  max-width: 250px;
  margin-bottom: 0.25rem;
  object-fit: cover;
}
.moreBtn {
  background-color: var(--dark);
  color: var(--white);
  font-size: 0.8rem;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
}
.moreBtn:hover {
  opacity: 0.8;
}
