.headerContainer {
  background-color: #df4957;
  color: white;
  padding: 1rem 1.75rem;
  font-size: 0.75rem;
  letter-spacing: 1px;
  display: flex;
  justify-content: space-between;
}
.githubIcon {
  width: 1.75rem;
  height: 1.75rem;
  fill: white;
  margin-right: 0.5rem;
}
.headerLogo {
  display: flex;
  align-items: center;
}
.headerNav {
  display: flex;
  align-items: center;
}
.navItem {
  font-size: 1.1rem;
}
.navItem:nth-child(1) {
  margin-inline-end: 1.5rem;
}
@media (max-width: 700px) {
  .headerContainer {
    display: block;
    text-align: center;
  }
  .headerLogo {
    justify-content: center;
  }
  .headerNav {
    justify-content: center;
    margin-top: 1rem;
  }
}
