.card {
  border: 1px dotted var(--border);
  margin: 0.7rem 0;
  padding: 1rem;
  text-align: center;
}
.tag {
  display: inline-block;
  padding: 0 0.9rem;
  text-align: center;
  margin: 0.3rem;
  border-radius: 6px;
}
.tagRed {
  color: var(--white);
  background: var(--red);
}
.tagLight {
  border: 1px solid var(--border);
  color: var(--dark);
  background: var(--white-100);
}
.tagGreen {
  background: var(--green);
  color: var(--white);
}
.tagDark {
  background: var(--dark);
  color: var(--white);
}
.tagP {
  font-size: 1rem;
}
