@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Ubuntu Condensed", sans-serif;
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
  color: inherit;
}
p {
  font-size: 1.2rem;
  line-height: 1.6rem;
}
