@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap");
:root {
  --border: #ccc;
  --red: #dc3545;
  --white: #fff;
  --dark: #333;
  --green: #28a745;
  --white-100: #f4f4f4;
  --dark-gray: #666;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Ubuntu Condensed", sans-serif;
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
  color: inherit;
}
p {
  font-size: 1.2rem;
  line-height: 1.6rem;
}
button {
  display: inline-block;
  padding: 0.6rem 1.3rem;
  outline: none;
  font-size: 1rem;
  border: none;
  transition: opacity 0.2s ease-in;
  cursor: pointer;
}
button:hover {
  opacity: 0.8;
}
