.btnLight {
  background: #f4f4f4;
  color: #333;
  margin-right: 0.5rem;
}

.hireableIcon {
  width: 18px;
  height: 18px;
  fill: #28a745;
  margin-left: 0.5rem;
}
.notHireableIcon {
  fill: #dc3545;
  width: 18px;
  height: 18px;
  margin-left: 0.5rem;
}
.flex {
  display: flex;
}
.alignCenter {
  align-items: center;
}
