.btnLight {
  background: var(--white-100);
  color: var(--dark);
  margin-right: 0.5rem;
}

.hireableIcon {
  width: 18px;
  height: 18px;
  fill: var(--green);
  margin-left: 0.5rem;
}
.notHireableIcon {
  fill: var(--red);
  width: 18px;
  height: 18px;
  margin-left: 0.5rem;
}
.flex {
  display: flex;
}
.alignCenter {
  align-items: center;
}
